<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color: blue;
            text-align: center;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
            text-decoration: underline;
        }
        h4{
           color: blueviolet;
           margin-left: 50px;
           font-size: 15px;
        }
    </style>
</head>
<body style="background-color: aqua;">
    <h1>WELCOME</h1>

    <h4>name : {{name}}</h4>
    <h4>age : {{age}}</h4>
    <h4>place : {{place}}</h4>

    <!-- <form action="" method="post"> -->
        <!-- <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <input type="submit" value="Submit"> -->
    </form>

    <a href="sec">second page</a>
</body>
</html>