<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
     
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
</head>
<body>
    <h2>welcome</h2>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" placeholder="id" name="id">
        <input type="text" placeholder="task" name="task">
        <input class="button" type="submit" value="submit">
    </form>
    <table>
        <tr>
            <th>id</th>
            <th>task</th>
        </tr>
        {% for i in todo %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.task}}</td>
            <td><a href="edit/{{i.id}}">edit</a>
            <a href="delete/{{i.id}}">delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
