<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <h2>Add product</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="pro_id" placeholder="pro_id">
        <input type="text" name="name" placeholder="name">
        <input type="number" name="price" placeholder="price">
        <input type="number" name="o_price" placeholder="offer_price">
        <input type="file" name="img" id="">
        <input type="submit" value="add">

    </form>
</body>
</html>